{% extends "base.html" %}
{% load static %}
{% block content %}
<h1><span style="color: #A4AA88">ABOUT: <span></span></h1> 
<p style="color:#A4AA88; font-size: x-large;">The aim of this project is to develop an IoT-based border defense mechanism that can provide real-time surveillance, threat detection, and automated response capabilities. The proposed system will consist of a network of sensors, cameras, and other IoT devices that will be integrated with advanced analytics software to provide actionable intelligence to border security personnel.</p>
<br>
<h1 style="color: #A4AA88">Contributors:</h1> 
<div class="outer-card">
    <div class="inner-card">
        <img src="https://media.licdn.com/dms/image/D5603AQHxnZPhuCDHvg/profile-displayphoto-shrink_800_800/0/1665912526739?e=1691625600&v=beta&t=0ITamw7AGe2c3dVd32Gn9f7cvTRgFOxAf4nSUzz87J8" alt="" srcset="" class="profiles" style="height: 160px;width: 230px; border-radius: 20px;">
        <h3>Srajan</h3>
        <p>Django Backend</p>
        <p>Video analytics</p>
    </div>
    <div class="inner-card">
        <img src="https://media.licdn.com/dms/image/D5603AQFEPFKFNvC2mQ/profile-displayphoto-shrink_800_800/0/1681911218070?e=1691625600&v=beta&t=pGhu8TZWxMFPfnNuyITwyoyRJbdIB2-q9jcQK4HlHbA" alt="" srcset="" class="profiles" style="height: 160px;width: 230px; border-radius: 20px;">
        <h3>Sudeep R Shetty</h3>
        <p>Frontend UI</p>
        <p>Video analytics</p>
    </div>
    <div class="inner-card">
        <img src="https://media.licdn.com/dms/image/C4D03AQF9OguBMFrVbg/profile-displayphoto-shrink_800_800/0/1660445439135?e=1691625600&v=beta&t=fzrgoNxzQYz_928Lx9NZxdX3t4zDDp9VLIdt_yrDMZM" alt="" srcset="" class="profiles" style="height: 160px;width: 230px; border-radius: 20px;">
        <h3>Lakshitha R</h3>
        <p>Aurdino Hardware</p>
    </div>
    <div class="inner-card">
        <img src="https://media.licdnv.com/dms/image/D5603AQHxnZPhuCDHvg/profile-displayphoto-shrink_800_800/0/1665912526739?e=1691625600&v=beta&t=0ITamw7AGe2c3dVd32Gn9f7cvTRgFOxAf4nSUzz87J8" alt="" srcset="" class="profiles" style="height: 160px;width: 230px; border-radius: 20px;">
        <h3>Varun S</h3>
        <p>Aurdino Hardware</p>
        <p>Environment </p>
    </div>
</div>
{% endblock %}
